<?xml version="1.0"?>
<!-- 
/**
 * wallee Magento 2
 *
 * This Magento 2 extension enables to process payments with wallee (https://www.wallee.com/).
 *
 * @package Wallee_Payment
 * @author customweb GmbH (http://www.customweb.com/)
 * @license http://www.apache.org/licenses/LICENSE-2.0  Apache Software License (ASL 2.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<wallee_payment>
			<information>
				<version>1.0.75</version>
				<sdk_version>2.0.11</sdk_version>
			</information>
			<general>
				<base_gateway_url>https://app-wallee.com/</base_gateway_url>
				<manual_tasks>0</manual_tasks>
			</general>
			<checkout>
				<integration_method>iframe</integration_method>
			</checkout>
			<email>
				<order>1</order>
			</email>
			<document>
				<customer_download_invoice>1</customer_download_invoice>
				<customer_download_packing_slip>1</customer_download_packing_slip>
				<customer_download_refund>1</customer_download_refund>
			</document>
			<line_items>
				<overwrite_shipping_description>0</overwrite_shipping_description>
				<custom_shipping_description>Shipping</custom_shipping_description>
				<enforce_consistency>1</enforce_consistency>
			</line_items>
		</wallee_payment>
	</default>
</config>